<ul class="nav nav-tabs">
  {% for type in ['All', 'Waiting', 'Running', 'Canceled', 'Finished', 'Failed', 'Timeout'] %}
  {% if type.lower() == kind %}
  <li role="presentation" class="active"><a href="#">{{ type
    }}({{ stats.__getattribute__(kind)}})</a></li>
  {% else %}
  <li role="presentation"><a href="{{ list_run_url %
    (type.lower())}}">{{ type }}({{ stats.__getattribute__(type.lower()) }})</a></li>
  {% endif %}
  {% endfor %}
</ul>

<table class="table table-striped" id="topTable">
  <thead>
    <tr>
        <th>Id</th>
        <th>Status</th>
        <th>Runner</th>
        <th>Batch</th>
        <th>Repo</th>
    </tr>
  </thead>
    <tbody>
    {% for run in runs.runs %}
        <tr
            {% if run.status == 'waiting' or run.status == 'running'%}
                class="warning"
            {% elif run.status == 'finished'%}
                class="success"
            {% elif run.status == 'failed' or run.status == 'timeout'%}
                class="danger"
            {% elif run.status == 'canceled'%}
                class="info"
            {% endif %}
        >
            <td><a href="/runs/{{ run.id }}">{{run.id}}</a>
                <a href="/runs/{{ run.id }}/retry" class="icon">
                    <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                </a>
                {% if run.status == 'waiting' or run.status == 'running'%}
                    <a href="/runs/{{ run.id }}/cancel" class="icon">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </a>
                {% endif %}
            </td>
            <td>{{ run.status }}</td>
            <td><a href="/runners/{{ run.runnerId }}">{{run.runnerName}}</a></td>
            <td><a href="/batchs/{{ run.batch }}">{{run.namespace}}({{run.batch}})</a></td>
            <td><a href="/namespaces/repo/{{ run.repoId }}">{{run.repoName}}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
