<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Status</th>
        <th>IP</th>
        <th>Last connection</th>
    </tr>

    <ul class="nav nav-tabs">
        {% for type in ['All', 'Waiting', 'Dead'] %}
            {% if type.lower() == kind %}
                <li role="presentation" class="active"><a href="#">{{ type }}({{ stats.__getattribute__(kind) }})</a></li>
            {% else %}
            <li role="presentation"><a href= "{{ list_runner_url %
              (type.lower(), 0, per_page)}}">{{ type }}({{ stats.__getattribute__(type.lower()) }})</a></li>
            {% endif %}
        {% endfor %}
    </ul>

    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if offset - per_page >= 0 %}
                    <li>
                        <a href="{{ list_runner_url % (kind, offset - per_page,
                          per_page)}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
            {% else  %}
                    <li class="disabled">
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
            {% endif %}
            {% for i in range(offset // per_page - 2, offset // per_page + 3) %}
            {% if i >= 0 and i * per_page <= stats.__getattribute__(kind) %}
                <li
                    {% if i * per_page == offset %}
                        class="active"
                    {% endif %}
                   >
                    <a href="{{ list_runner_url % (kind, i * per_page, per_page)}}">
                        {{ i }}
                    </a>
                </li>
            {% endif %}
            {% endfor %}
            {% if offset + per_page <= stats.__getattribute__(kind) %}
            <li>
                <a href="{{ list_runner_url % (kind, offset + per_page,
                  per_page)}}" aria-label="Previous">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% else  %}
                    <li class="disabled">
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
            {% endif %}
        </ul>
    </nav>


    {% for runner in runners.runners %}
        <tr
            {% if runner.status == 'waiting' or runner.status == 'running'%}
                class="success"
            {% elif runner.status == 'dead'%}
                class="danger"
            {% endif %}
        >
            <td><a href="/runners/{{ runner.id }}">{{runner.name}}</a>
                {% if runner.status == 'waiting' or runner.status == 'running'%}
                    <a href="/runners/{{ runner.id }}/kill" class="icon">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </a>
                {% endif %}
            </td>
            <td>{{ runner.status }}</td>
            <td>{{ runner.ip }}</td>
            <td>{{ runner.last_connection }}</td>
        </tr>
    {% endfor %}
</table>
