<table class="table table-striped">
    <tr>
        <th>Id</th>
        <th>Status</th>
        <th>Runner</th>
        <th>Batch</th>
        <th>Repo</th>
    </tr>
    {% for run in runs%}
        <tr
            {% if run['status'] == 'waiting' or run['status'] == 'running'%}
                class="warning"
            {% elif run['status'] == 'finished'%}
                class="success"
            {% elif run['status'] == 'failed' or run['status'] == 'timeout'%}
                class="danger"
            {% elif run['status'] == 'canceled'%}
                class="info"
            {% endif %}
        >
            <td><a href="/runs/{{ run['id'] }}">{{run['id']}}</a>
                <a href="/runs/{{ run['id'] }}/retry" class="icon">
                    <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                </a>
                {% if run['status'] == 'waiting' or run['status'] == 'running'%}
                    <a href="/runs/{{ run['id'] }}/cancel" class="icon">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </a>
                {% endif %}
            </td>
            <td>{{ run['status'] }}</td>
            <td><a href="/runners/{{ run['runner_id'] }}">{{run['runner_name']}}</a></td>
            <td><a href="/batchs/{{ run['batch'] }}">{{run['namespace']}}({{run['batch']}})</a></td>
            <td><a href="/namespaces/repo/{{ run['repo'] }}">{{run['repo_name']}}</a></td>
        </tr>
    {% endfor %}
</table>
