<ul class="nav nav-tabs">
  {% for type in ['All', 'Active'] %}
  {% if type.lower() == kind %}
  <li role="presentation" class="active"><a href="#">{{ type
    }}({{ stats_batch.__getattribute__(kind) }})</a></li>
  {% else %}
  <li role="presentation"><a href= "{{ list_batch_url %
    (type.lower())}}">{{ type }}({{ stats_batch.__getattribute__(type.lower()) }})</a></li>
  {% endif %}
  {% endfor %}
</ul>

<table class="table table-bordered table-striped" id="topTable">
    <thead>
      <tr>
        <th>Id</th>
        <th>Namespace</th>
        <th>Update time</th>
        <th>Timeout</th>
      </tr>
    </thead>
    <tbody>
    {% for batch in batchs.batchs %}
        <tr>
            <td><a href="/batchs/{{ batch.id }}">{{ batch.id}}</a>
                <a href="/batchs/{{ batch.id }}/restart" class="icon">
                    <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                </a>
            </td>
            <td><a href="/namespaces/{{ batch.namespace }}">{{ batch.namespace}}</a></td>
            <td>{{ batch.updateTime}}</td>
            <td>{{ batch.timeout}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
