    <ul class="nav nav-tabs">
        {% for type in ['All', 'Active'] %}
            {% if type.lower() == kind %}
                <li role="presentation" class="active"><a href="#">{{ type }}({{ stats.__getattribute__(kind) }})</a></li>
            {% else %}
            <li role="presentation"><a href= "{{ list_batch_url % (type.lower(), 0)}}">{{ type }}({{ stats.__getattribute__(type.lower()) }})</a></li>
            {% endif %}
        {% endfor %}
    </ul>

    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if offset - 10 >= 0 %}
                    <li>
                        <a href="{{ list_batch_url % (kind, offset - 10)}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
            {% else  %}
                    <li class="disabled">
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
            {% endif %}
            {% for i in range(offset // 10 - 2, offset // 10 + 3) %}
            {% if i >= 0 and i * 10 <= stats.__getattribute__(kind) %}
                <li
                    {% if i * 10 == offset %}
                        class="active"
                    {% endif %}
                   >
                    <a href="{{ list_batch_url % (kind, i * 10)}}">
                        {{ i }}
                    </a>
                </li>
            {% endif %}
            {% endfor %}
            {% if offset + 10 <= stats.__getattribute__(kind) %}
            <li>
                <a href="{{ list_batch_url % (kind, offset + 10)}}" aria-label="Previous">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% else  %}
                    <li class="disabled">
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
            {% endif %}
        </ul>
    </nav>

<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>Namespace</th>
        <th>Update time</th>
        <th>Timeout</th>
    </tr>
    </thead>
    <tbody>
    {% for batch in batchs.batchs %}
        <tr>
            <td><a href="/batchs/{{ batch.id }}">{{ batch.id}}</a>
                <a href="/batchs/{{ batch.id }}/restart" class="icon">
                    <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                </a>
            </td>
            <td><a href="/namespaces/{{ batch.namespace }}">{{ batch.namespace}}</a></td>
            <td>{{ batch.updateTime}}</td>
            <td>{{ batch.timeout}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
